<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.Jim2Pack.main.Mappers.JimMapper">
    <insert id = "AddJim" parameterType = "Jim">
    	INSERT INTO Jim(ID, name, item) 
    	VALUES(#{ID},#{name}, #{item})
    </insert>
    <select id = "GetUserJimSet" parameterType = "String" resultType = "Jim">
    	SELECT * FROM Jim WHERE ID = #{ID} AND name = #{name}
    </select>
    <select id="getJimList"  parameterType = "String" resultType = "Jim">
    	SELECT * FROM Jim WHERE ID = #{ID}
    </select>
</mapper>
