<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.Jim2Pack.main.Test.MySQLTestDAO">
    <select id="getList" resultType="com.Jim2Pack.main.Test.MySQLTestVo">
        select
            name,
            age
        from
            test
    </select>
</mapper>
